@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background: rgb(43, 36, 36);
  color: #fff;
  line-height: 1.5;
}
.canvas-container {
  display:flex;
}

.canvas {
  border: 5px solid orange;
  display: block;
  margin: 1rem 2rem 1rem 0;
  width:45vw;
  height: auto;
  
}

input {
  cursor: pointer;
  border:3px solid teal;
  font-weight: bold;
  padding:0.5rem;

}

button {
  padding:0.8rem 1rem;
  margin-left:5px;
  border:none;
  font-weight: bold;
  cursor: pointer;
  color:#fff;
  background: hsl(180, 100%, 25%);
  transition: background 0.2s linear;

}

button:hover {
  background: hsl(180, 100%, 35%);
}